.Hire-me{
    position: absolute;
    width: 208px;
    height: 66px;
    left: 21px;
    top: -25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 56px;

    color: #84ED53;


}
.Hire-me span{
    font-size: 20px;
    font-style: italic;
    color: #ffffff;

}
.Find_Work{

    /* How It Works */


    position: absolute;
    width: 231px;
    height: 32px;
    left: 622px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;

    color: #FFFFFF;
}
.a1 {
    color: white;
    text-decoration: none;
  }
  .My_Jobs{
      
    position: absolute;
    width: 157px;
    height: 31px;
    left: 810px;
    top: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    
    color: #FFFFFF;
  }
  .a2 {
    color: white;
    text-decoration: none;
  }
  .Messages{
      /* Log In */


    position: absolute;
    width: 109px;
    height: 23px;
    left: 998px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;

    color: #FFFFFF;
  }
  .a3 {
    color: white;
    text-decoration: none;
  }
  .bar2{
    position: absolute;
    width: 1263px;
    height: 1500px;
    left: 0px;
    top: 80px;

    background: white;
}