.Hire-me{
    position: absolute;
    width: 208px;
    height: 66px;
    left: 21px;
    top: -25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 56px;

    color: #84ED53;


}
.Hire-me span{
    font-size: 20px;
    font-style: italic;
    color: #ffffff;

}

  .Forgot_Password{
      
    position: absolute;
    width: 157px;
    height: 31px;
    left: 910px;
    top: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    
    color: #FFFFFF;
  }
  .a1 {
    color: white;
    text-decoration: none;
  }
  .bar2{
    position: absolute;
    width: 1263px;
    height: 1500px;
    left: 0px;
    top: 80px;

    background: white;
}
.Help{
    position: absolute;
    left: 1138.61px;
    width: 100px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    

    background-color: #84ED53;

}
.a2 {
    color: black;
    text-decoration: none;
  }
.box{
    /* Rectangle 5 */


position: absolute;
width: 847px;
height: 843px;
left: 200px;
top: 153px;

background: rgba(229, 229, 229, 0.34);
}
.txt{
    /* Sign IN */


position: absolute;
width: 274px;
height: 55px;
left: 550px;
top: 190px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
}
.First_Name{
    /* FIRST NAME */


position: absolute;
width: 320px;
height: 64px;
left: 264px;
top: 318px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
}
.Last_Name{
    /* LAST NAME */


position: absolute;
width: 320px;
height: 72px;
left: 704px;
top: 318px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;

}
.Email{
    /* Email */


position: absolute;
width: 780px;
height: 82px;
left: 252px;
top: 489px;
}
.Password{
    position: absolute;
    width: 438px;
    height: 78px;
    left: 258px;
    top: 636px;
}

.btn1{
    /* SUBMIT */


position: absolute;
width: 170px;
height: 54px;
left: 526px;
top: 787px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
background: #84ED53;
}  
    